#error {
    color: var(--primary);
    text-align: center;
}

#error__title {
    font-size: 8em;
    margin-top: 0;
    margin-bottom: 2%;
}

#error__description {
    font-size: 2em;
}

#error__linktomain {
    color: var(--primary);
    text-decoration-color: var(--primary);
}

@media (max-device-width: 800px) {
    #error__description {
        font-size: 1.5em;
    }
}