.flat-list {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    width: 88%;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 40px 20px;
    margin-top: 30px;
}

@media (max-device-width: 900px) {
    .flat-list {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-device-width: 600px) {
    .flat-list {
        grid-template-columns: none;
        width: auto;
        padding: 0px;
    }

}
