.flat-page__gallery {
    width: 100%;
    height: 415px;
}
    
.flat-page__gallery__prev {
    height: 100px;
    width: 75px;
    border: none;
    position: relative;
    top: -65%;
    left: 3%;
}

.flat-page__gallery__next {
    height: 100px;
    width: 75px;
    border: none;
    position: relative;
    top: -65%;
    left: 85%;
}

.flat-page__gallery__prev:hover, .flat-page__gallery__next:hover {
    opacity: 0.6;
    cursor: pointer;
}

#image-container {
    width: 100%;
    height: 100%;
}

.flat-page__gallery__img {
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    height: 100%;
}

@media (max-device-width: 1180px) {
    .flat-page__gallery__next {
        left: 79%;
    }
}

@media (max-device-width: 800px) {
    .flat-page__gallery__next, .flat-page__gallery__prev {
        height: 50px;
        width: 50px;
    }
    .flat-page__gallery {
        height: 255px;
    }
    .flat-page__gallery__prev {
        top: -60%;
    }
    .flat-page__gallery__next {
        position: relative;
        top: -60%;
        left: 80%;
    }
}

@media (max-device-width: 580px) {
    .flat-page__gallery__next {
        left: 73%;
    }
}

@media (max-device-width: 480px) {
    .flat-page__gallery__next {
        left: 68%;
    }
}